OBSERVABILITY_STACK_NAME=backup-observability-gateway-v2
OBSERVABILITY_NETWORK_NAME=backup-observability-gateway-v2-network
OBSERVABILITY_ENVIRONMENT=production-v2

API_IMAGE=backup-observability-gateway-v2:latest
API_CONTAINER_NAME=v2-backup-observability-gateway-api
API_RESTART_POLICY=unless-stopped
APP_PORT=9469
API_HOST_PORT=9470

PROMETHEUS_IMAGE=prom/prometheus:latest
PROMETHEUS_CONTAINER_NAME=v2-backup-observability-gateway-prometheus
PROMETHEUS_RESTART_POLICY=unless-stopped
PROMETHEUS_HOST_PORT=29090
PROMETHEUS_VOLUME_NAME=v2-backup-observability-gateway-prometheus-data

GRAFANA_IMAGE=grafana/grafana:latest
GRAFANA_CONTAINER_NAME=v2-backup-observability-gateway-grafana
GRAFANA_RESTART_POLICY=unless-stopped
GRAFANA_HOST_PORT=23000
GRAFANA_VOLUME_NAME=v2-backup-observability-gateway-grafana-data
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
